<div class="row button-container" xmlns="http://www.w3.org/1999/html">
    <a class="searching-for-choice-button" ui-sref="searching">
        <back-button></back-button>
        <div class="text-center">
            <p>{$ 'APPOINTMENT_DATES' | translate $}</p>
            <p>{$ 'ENTER_INFO_BELOW' | translate $}</p>
        </div>
    </a>
</div>
<div class="row text-center">
    <p>{$ 'FIND_REGISTRATION_NUMBER' | translate $}</p>
    <img src="http://placekitten.com/g/400/300"/>
</div>
<div class="row text-center">
<input-form></input-form>
</div>
