<div class="row button-container" xmlns="http://www.w3.org/1999/html">
    <a class="searching-for-choice-button" ui-sref="searching">
        <back-button></back-button>
        <div class="text-center">
            <p>{$ 'APPOINTMENT_DATES' | translate $}</p>
            <p>{$ 'ENTER_INFO_BELOW' | translate $}</p>
        </div>
    </a>
</div>
<div class="row text-center">
    <p>{$ 'FIND_REGISTRATION_NUMBER' | translate $}</p>
    <img src="http://placekitten.com/g/400/300"/>
</div>
<div class="row text-center">
    <div>
        <label>{$ 'ENTER_NUMBER' | translate $}</label>
        <input type="number" name="registrationNumber" class="form-control" ng-model="registrationNumber" required>
    </div>
    <div class="form-group">
        <label>{$ 'CONFIRM_NUMBER' | translate $}</label>
        <input type="number" name="confirmRegistrationNumber" class="form-control" ng-model="confirmRegistrationNumber" required>
    </div>
    <input class="btn" type="submit" ng-click="ctrl.submit()" value="{$ 'SUBMIT' | translate $}" />
</div>
