{% load static %}
<a class="view-header row" ui-sref="searching">
    <back-button></back-button>
    <div class="view-header-inner">
        <p class="bigger">{$ 'APPOINTMENT_DATES' | translate $}</p>
        <p>{$ 'ENTER_INFO_BELOW' | translate $}</p>
    </div>
    <div class="icon-fillter"></div>
</a>
<div class="registration-image-container">
    <p>{$ 'FIND_REGISTRATION_NUMBER' | translate $}</p>
    <img src="{% static 'images/registration_number.png' %}" class="img-responsive"/>
</div>
<div class="text-center">
    <input-form></input-form>
</div>
