<div class="view-header row">
    <div class="view-header-inner">
        <p>Select your language</p>
        <p>επιλέξτε τη γλώσσα σας</p>
        <p>الرجاء اختيار لغتك</p>
        <p>لطفا زبان خود را انتخاب کنید</p>
        <p>زبان را انتخاب نمایید</p>
        <p>Zimanê xwe hilbijêrin:</p>
        <p>اپنی زبان منتخب کریں</p>
        <p>ਆਪਣੀ ਭਾਸ਼ਾ ਚੁਣੋ:</p>
    </div>
</div>

<div class="row">
    <language-choice ng-repeat="language in baseController.languages track by $index"
                     language="language"
                     change-language="baseController.changeLanguage(language)"
                     navigate-to="baseController.navigateTo('searching')"></language-choice>
</div>
