<div class="view-header row">
    <div class="view-header-inner">
        <p>{$ "SELECT_LANGUAGE_EN" | translate $}</p>
        <p>{$ "SELECT_LANGUAGE_EL" | translate $}</p>
        <p>{$ "SELECT_LANGUAGE_AR" | translate $}</p>
        <p>{$ "SELECT_LANGUAGE_FA" | translate $}</p>
    </div>
</div>

<div class="row">
    <language-choice ng-repeat="language in baseController.languages track by $index"
                     language="language"
                     change-language="baseController.changeLanguage(language)"
                     navigate-to="baseController.navigateTo('searching')"></language-choice>
</div>
