$background-color: #FFFFFF;
$navbar-color: #FFFFFF;
$view-header-color: #E6E6E6;
$button-color: #F2F3F4;
$footer-color: #F2F3F4;
$text-color: #000000;
$text-color-muted: #222222;
$accent-color: #FFCA38;
$text-reversed-color: #f5f5f5;
$text-reversed-color-muted: #E5E5E5;

// bootstrap responsive layout breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin transition-mixin($property, $duration, $ease) {
  -webkit-transiton: $property #{$duration}s $ease;
  -moz-transition: $property #{$duration}s $ease;
  -ms-transition: $property #{$duration}s $ease;
  -o-transition: $property #{$duration}s $ease;
  -transition: $property #{$duration}s $ease;
  transition: $property #{$duration}s $ease;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($value) {
  -ms-flex-align: $value;
  -webkit-box-align: $value;
  align-items: $value;
  -webkit-align-items: $value;
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
  -webkit-justify-content: $value;
  -webkit-box-pack: $value;
}

@mixin flex-direction($value) {
  @if $value == 'column' {
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value) {
  flex-wrap: $value;
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;

}

* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

body {
  height: 100%;
  min-height: 100%;
}

.navbar-default {
  background-color: $navbar-color;
  border: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  img {
    max-height: 80px;
    padding: 5px 0;
    display: block;
  }
  .navbar-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

.view-header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);
  min-height: 80px;
  margin: 0;
  background-color: $view-header-color;
  color: $text-color;
  border-radius: 3px;
  .view-header-inner {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    flex: 1;
  }
  p {
    font-size: 13px;
    margin: 0;
    text-align: center;
  }
}

.icon-fillter {
  display: block;
  height: 62px;
  width: 62px;
}

.main-container {
  @media (max-width: $screen-xs-max) {
    padding: 0 8px;
  }
}

.button-container {
  margin-top: 15px;
}

.language-choice-button {
  @include transition-mixin(background-color, 0.1, linear);
  background-color: $button-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: darken($button-color, 5%);
  }
  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }
}

p.bigger {
  font-weight: bold;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 90px;
}

footer {
  padding-top: 10px;
  clear: both;
  position: relative;
  background-color: $footer-color;
  color: $text-color;
  height: 80px;
  margin-top: -80px;
  font-size: 12px;
  p {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
  }
  a {
    display: block;
    color: $text-color-muted;
    &:hover {
      color: lighten($text-color-muted, 5%);
      text-decoration: underline;
    }
  }
}

.searching-for-choice-button {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  background-color: $button-color;
  color: $text-color !important;
  height: 80px;
  margin-top: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &:hover {
    background-color: darken($button-color, 5%);
    text-decoration: none;
  }
  &.no-hover:hover {
    background-color: $button-color;
  }
  i.fa {
    padding: 15px;
    width: 60px;
    font-size: 32px;
  }
  span {
    font-size: 16px;
    display: block;
  }
}

.submit-button {
  font-size: 16px;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: $button-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  .button-flex-container {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  .filler {
    display: block;
    width: 94px;
    height: 50px;
  }
  i.fa {
    padding: 0 34px;
    font-size: 26px;
    color: $accent-color;
  }
    }
}

.submit-button.disabled, .submit-button[disabled], fieldset[disabled] .submit-button {
  i.fa {
    visibility: hidden;
  }
}

.center-content {
  @include flexbox();
  @include justify-content(center);
}

.registration-image-container {
  margin: 15px 0;
  p {
    font-weight: bold;
    text-align: center;
  }
}

.header-centered {
  text-align: center;
  font-size: 24px;
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}

back-button, forward-button {
  i.fa {
    font-size: 32px;
    padding: 15px;
    color: $accent-color;
  }
}

.update-data-info {
  padding-top: 100px;
}
// loading overlay

.sk-fading-circle .sk-circle:before {
  background-color: #CCCCCC;
}

.isloading-wrapper.isloading-right {
  margin-left: 10px;
}

.isloading-overlay {
  position: relative;
  text-align: center;
}

.sk-fading-circle {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

